//color schemes
//1
$styleNumber: '';
$colorMain: #ed8e82;
$colorMain2: #f1b34d;
$colorMain3: #ec646a;
$colorMain4: #54c1c4;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;