//color schemes
//2
$styleNumber: '2';
$colorMain: #f1b34d;
$colorMain2: #ec646a;
$colorMain3: #54c1c4;
$colorMain4: #ed8e82;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;