//color schemes
//3
$styleNumber: '3';
$colorMain: #ec646a;
$colorMain2: #54c1c4;
$colorMain3: #ed8e82;
$colorMain4: #f1b34d;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;