.service{
  .item-content{
    padding: 55px 60px;
    @media (max-width: 991px){
      padding: 35px 40px;
    }
    @media (max-width: 575px){
      padding: 25px 30px;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
  .surgical-adds{
    margin-bottom: 9px;
  }
  .star-rating{
    font-size: 0.8em;
  }
}